.container-fluid
  .row
    .col-sm
    .col-sm-8.col-md-8.col-lg-5.my-3
      .col.justify-content-center
        = form_with url: session_path do |f|
          .row-md-2
            .col-md.justify-content-center{style: "padding: 0"}
              .d-grid.gap-1
                .p-2
                  %h2 Login page  
                  = f.label :name, class: "form-label"
                  = f.text_field :name, class: "form-control"
              .d-grid.gap-1
                .p-2
                  = f.submit "Login", class: "btn btn-info"
                  %br
                  .my-2
                    %span Not registered?
                    = link_to 'Sign up', register_path
    
    .col-sm
