.container-fluid
  .row
    .col-sm
    .col-sm-8.col-md-8.col-lg-5
      %h2 #{ @user.name }
      .col.justify-content-center
        .row-md-2
          .col-md.justify-content-center{style: "padding: 0"}
            .d-grid.gap-1
              .p-2
                - if @user.upcoming_events_and_invitations.any?
                  %h2 Upcoming Events
                  - @user.upcoming_events_and_invitations.each do |event|
                    = link_to event.name, event_path(event.id), class: "upcoming-event"
              .p-2
                - if @user.past_events_and_invitations.any?
                  %h2 Past Events
                  - @user.past_events_and_invitations.each do |event|
                    = link_to event.name, event_path(event.id), class: "past-event"
                .p-2
                  = link_to 'Create event', new_event_path, class: "btn btn-primary"
                  = link_to 'Logout', session_path, method: :delete, class: "btn btn-warning"
    .col-sm
